*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background-color: #0C4068;

}

body.correct {
     background: rgb(116,208,35); 
}

body.wrong {
    background: rgb(247,19,0);  
}

.container{
    width:  500px;
    max-width: 80%;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;

}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px;
}

.btn {
    
    background-color: rgb(42,153,249);
    border-color: rgb(42,153,249);
    border-radius: 5%;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    
    border-color: black;
}

.btn.correct {
    background: rgb(116,208,35);;
    color: black;
}

.btn.wrong {
    background-color: rgb(247,19,0);
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}